<div class="col-lg">

  <h2 class="mb-3">{{ include.title }}</h2>

  {% for skill in include.source %}

  <div class="row justify-content-between align-items-center">
    <div class="col-5">
      <p class="mb-1">{{ skill.category }}</p>
    </div>
    <div class="col-5 text-right">
      {%- for competency in skill.competencies -%}
      <!--<p class="mb-1 text-muted">{{ competency }}</p>-->
      <span class="badge badge-pill text-primary border border-primary ml-1">
        {{ competency }}
      </span>
      {%- endfor -%}
    </div>
  </div>

  {% endfor %}

</div>