<div class="col mt-4">
  <h2 class="mb-3">{{ include.title }}</h2>

  <div class="timeline-body bg-themed">
    {% for item in include.source %}
      <div class="timeline-item">
        <div class="content">
          <h2>{{ item.title }}</h2>
          <h5>{{ item.subtitle }}</h5>
          <h6 class="date">{{ item.from }} — {{ item.to }}</h6>
          <p>{{ item.description }}</p>
          <p id="tools" class="card-text">
            {%- for tag in item.tags -%}
            <span class="badge badge-pill text-primary border border-primary ml-1">{{ tag }}</span>
            {%- endfor -%}
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
  
</div>